<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.healthsns.mapper.CommunityReplyMapper">

    <insert id="replyInsert">
        insert into comment(target_post_id, content, userid)
        values(${target_post_id}, #{content}, #{userid});
    </insert>

<select id="replySelect" resultType="com.team2.healthsns.vo.CommunityReplyVO">
    select comment_id, content, userid, write_date
    from comment
    where target_post_id = ${param1}
    order by target_parent asc, depth asc, write_date asc;
</select>


    <update id="replyUpdate">
        update comment
        set content=#{content}
        where comment_id=${comment_id};
    </update>

<update id="replyDelete">
    update comment
    set content='삭제되었습니다.'
    where comment_id=${param1};
</update>


</mapper>
