<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.healthsns.mapper.UserMapper">

    <select id="UserSelectAll" resultType="com.team2.healthsns.vo.UserVO">
        select *
        from user_info
        where userid=#{param1}
    </select>

    <select id="GetSessionEmail">
        select email
        from user_info
        where userid=#{param1}
    </select>

    <select id="GetFollowRanking">
        select u.userid as userid, u.username as username
        from user_info u
        order by (
        select count(f.userid)
        from follow f
        where f.userid = u.userid
        ) desc
        limit 9;
    </select>

    <select id="getTopPostsByDate">
        SELECT post_id, userid, title
        FROM board
        WHERE DATE(write_date) = #{date}
        ORDER BY views DESC
        LIMIT 9;
    </select>
</mapper>